.post {
    padding-bottom: 0 !important;
}

footer>.stats li {
    max-width: 100% !important;
}

.copyright {
    font-size: 80%;
}

.suc {
    font-size: 80%;
    border-top: 2px solid #e3e3e3;
    padding-top: 0.5em;
    margin-top: 1em;
}
